.joinhome-container {
    background: url('../../../assets/images//msic/homejoin_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 432px;
}

.joinhome-container .joinhome-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--white);
    gap: 26px;
    text-align: center;
}

.joinhome-container .joinhome-inner p {
    max-width: 65%;
}