.blogartihome-container {
    padding: 0 180px 0 180px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 144px;
    gap: 40px;
}

.blogartihome-container .blogartihome-inner {
    margin-top: 1.5rem;
}

.blogartihome-container .blogartihome-inner .card {
    border: none;
    margin-bottom: 32px;
}

.blogartihome-container .blogartihome-inner .card .card-body {
    padding: 24px;
}

.blogartihome-container .blogartihome-inner .card .blogartihome-contbtm {
    margin-top: 11px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blogartihome-container .blogartihome-inner .slick-list .slick-track{
    display: flex;
    gap: 24px;
}

.blogartihome-container .blogartihome-inner .card .blogartihome-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogartihome-container .blogartihome-inner .card .blogartihome-cont .blogartihome-contlft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: left;
}

.blogartihome-container .blogartihome-inner .card .blogartihome-cont .blogartihome-contlft .blogartihome-date {
    color: var(--gray);
    font-size: 14px;
    font-weight: 500;
}